@import '../../styles/colors.scss';

.UserPanel {
    background-color: $ocean;
    overflow-y: auto;

    @media (min-width: 1100px) {
        display: block;
        position: fixed;
        top: 64px;
        left: 0;
        color: white;
        width: 20vw;
        max-width: 500px;
        padding: 0 10px;
        height: calc(100vh - 56px);
    }

    .Link {
        text-decoration: none;
        color: inherit;
    }
    .Active {
        color: $secondary;
    };
}

.DesktopOnly {
    @media (max-width: 1099px) {
        display: none;
    }
}