@import "../../styles/colors.scss";


.ReputationRankPanel {
    position: fixed;
    top: 64px;
    right: 0;
    width: 25vw;
    height: calc(100vh - 56px);
    box-shadow: 0 -5px 5px grey;
    overflow-y: auto;
    display: none;

    &::-webkit-scrollbar {
        display: none;
    }
    
    @media (min-width: 900px) {
        display: block;
        width: 20vw;
    }
    
    .List {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
        
        .Link {
            text-decoration: none;
            color: inherit;
            :hover {
                background-color: $ocean;
            }
        }
    }
}