.MainMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    padding: 0 10px;

    .NavToggler {
        @media (min-width: 1100px) {
            display: none;
        }
    }

    .buttonsGroup {
        display: flex;
    }
    
    .BrandBG {
        background-color: rgb(247, 247, 247);
    }

    .Brand {
        font-weight: bold;
        font-size: 2rem;
    }
}