.Controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 2rem auto 0;
    min-width: 250px;
}

.Dense {
    width: 50%;
}