.TopicCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .Topic {
        margin-bottom: 2rem;
        font-weight: 600;
    }
    .Description {
        margin-bottom: 1.5rem;
    }
}

