.TopicCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .Topic {
        margin-bottom: 1rem;
    }
    .Description {
        margin-bottom: 1.5rem;
    }
}

